mat-toolbar {
  color: #fff;
  background: inherit;
  justify-content: center;
}

mat-nav-list {
  .active {
    color: #0094f6;
    background-color: #fff;
    border-radius: 8px;
  }

  a {
    margin: 0 auto;
    width: 80%;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;

    mat-icon {
      margin-right: 15px;
    }

    p {
      margin: 0;
      font-size: 14px;
    }
  }
}

.line {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #fff;
}
