.mat-header-cell:first-of-type {
  flex: 0 0 15%;
}

.mat-header-cell:nth-of-type(2) {
  flex: 0 0 15%;
}

.mat-header-cell:nth-of-type(3) {
  flex: 0 0 15%;
}

.mat-cell:first-of-type {
  flex: 0 0 15%;
}

.mat-cell:nth-of-type(2) {
  flex: 0 0 15%;
}

.mat-cell:nth-of-type(3) {
  flex: 0 0 15%;
}
