.text-capitalize {
  text-transform: capitalize;
}

mat-toolbar {
  background: linear-gradient(to right, #0094f6, #367dac);
  color: #fff;
}

.navbar-right {
  display: flex;
  width: 100%;
  justify-content: right;
}

.text-logout {
  font-size: 13px;
  font-weight: 500;
  color: #767676;
  text-transform: capitalize;
}
