<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <header>
      <app-progress-bar></app-progress-bar>
      <app-navbar (sidenavToggle)="sidenav.toggle()"></app-navbar>
    </header>
    <main role="main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
