mat-sidenav {
  width: 250px;
  background: linear-gradient(to bottom, #0094f6, #367dac);
}

mat-sidenav-container {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f3f3f3;
}
